<div class="navHeader">

</div>

<div class="home">
  <div class="scrollhome">
    <div class="wrapper">
      <div class="content">
        <div class="aplicacionSecccion">
          <div class="width-restrictor">
            <div class="aplicacionContenedor">
              <div class="contenedorHeader">
                <h1>Aplicaciones</h1>
              </div>
              <div class="contenedorBody">
                <div *ngFor="let item of items; let i=index" class="item">
                  <div class="workItem">
                    <a [routerLink]="['/pages']" routerLinkActive="router-link-active" >
                      <span><img src="assets/images/logos/aplicacion.png" alt="" srcset=""></span>
                      <div class="workItemName">
                        <div class="itemText">
                            {{ item.nombreAplicacion  }}
                        </div>
                      </div>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
