.ui-g-2,
.ui-md-2,
.ui-lg-2 {
  button {
    width: 100px;
    margin-top: 17px;
    height: 30px;
  }
}
//estilo para checkbox
.ui-inputgroup{
   .ui-inputgroup-addon{
      padding: 0.3em;
      min-width: 2.5em;
   }
}

.ui-fluid.ui-inputtext {
  width: 100% !important;
  height: 30px !important;
  margin: 0 0.5px 0 0.5px;
}
::ng-deep .prueba{
   width: 100% !important;
   height: 30px !important;
   margin: 0 0.5px 0 0.5px;
   label{
   height: 28px;
   }   
   
}
::ng-deep .pruebaespecial{
   
   height: 30px !important;
   margin: 0 0.5px 0 0.5px;
   label{
   height: 28px;
   }
   @media (min-width: 1024px) {
      min-width: 50% !important;
      width: 50% !important;   
      
   }
   @media (min-width: 1200px) {
      min-width: 70% !important;
      width: 70% !important;   
      
   }
   @media (min-width: 1300px) {
      min-width: 80% !important;
      width: 80% !important;   
      
   }
   @media (min-width: 1400px) {
      min-width: 100% !important;
      width: 100% !important;   
      
   }
  
   
}
.ui-inputgroup{
   width: 100%;
   height: 30px !important;
   margin: 0 0.5px 0 0.5px;
}



