<div class="route-bar">
  <div class="route-bar-breadcrumb">
    <li><a href="#/"><i class="pi pi-home"></i></a></li>
    <li>/</li>
    <li class="ng-star-inserted"><a routerLink="./lista-orden" class="ng-star-inserted">Ordenes</a></li>
    <li>/</li>
    <li class="ng-star-inserted"><a  [routerLink]="[{ outlets: { registro : 'open'}}]"
        class="ng-star-inserted">Registro</a></li>
  </div>
</div>

<div id="content" class="layout-content">
  <p-scrollPanel [style]="{width: '100%', height: '800px'}">
    <router-outlet></router-outlet>
    <router-outlet name="registro"></router-outlet>
  </p-scrollPanel>
</div>
