
  .route-bar {
    min-height: 32px;
    background-color: #ffffff;
    border-bottom: 1px solid #e8e8e8;
  }

  .route-bar-breadcrumb {
    padding: 6px 25px;
    display: inline-block;

    li {
      margin-right: 0.25em;
      list-style-type: none;
      display: inline-block;
      color: #727272;

      a {
        color: #727272;
      }
    }
  }

  .layout-content {
    padding: 16px;
  }

