.ui-g-1,
.ui-md-1,
.ui-lg-1 {
  button {
    width: 100px;
    margin-top: 17px;
    height: 30px;
  }
}

::ng-deep .prueba {
  width: 100% !important;
  height: 30px !important;
  margin: 0 0.5px 0 0.5px;
  label {
    height: 28px;
  }
}

.ui-inputgroup {
  width: 100%;
  height: 30px !important;
  margin: 0 0.5px 0 0.5px;
}

::ng-deep .container-reporte {
  font-size: 12px !important;
  position: absolute;
  top : 5%;
  z-index: 3;
  left: 5%;
  width: 80%;
  
  //PONER TOUCH-ACTION Y USER-SELECT en AUTO para que los reportes no se salgan de su div 
  //sirve para dispositivos tactiles
  touch-action: auto;
  //sirve para que no puedas seleccionar el texto de una pantalla
  user-select: auto;
  
  
}


