<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Bienvenido</title>
</head>

<body>
    <!-- [ngClass]="{'right-panel-active': slide}" -->
  <div class="container" [ngClass]="{'right-panel-active': slide}">
    <div class="form-container sign-up-container">
      <form action="#">
        <h1>Create Account</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>or use your email for registration</span>
        <input type="text" placeholder="Name" />
        <input type="email" placeholder="Email" />
        <input type="password" placeholder="Password" />
        <button>Sign Up</button>
      </form>
    </div>
    <div class="form-container sign-in-container">
      <form action="#">
        <h1>Login</h1>
        <div class="social-container">
          <a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
          <a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <span>Ingresa tu cuenta</span>
        <input type="text" placeholder="Usuario" />
        <input type="password" placeholder="Contraseña" />
        <a href="#">Olvidastes tu contraseña?</a>
        <button>Ingresar</button>
      </form>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-left">
          <h1>Hello friend!</h1>
          <p>Login to your account</p>
          <button class="ghost" id="signIn" (click)="slide=!slide">Login</button>
        </div>
        <div class="overlay-panel overlay-right">
          <h1>Welcome Back!</h1>
          <p>Dont have an account? <br> Join us now</p>
          <button class="ghost" id="signUp" (click)="slide=!slide">Sign Up</button>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
