@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import "~@fortawesome/fontawesome-free/css/all.css";

/*Customize colors*/
$overlay-color: #e22f22;
$button-color: #e22f22;
$button-border-color: #ffffff;
$overlay-gradiant1: #e22f22;
$overlay-gradiant2: #e22f22;
$background-color: #ffffff;
$primary-color: #e22f22;
$secunday-color: #262626;
$background-body-color: #f2f2f2;

* {
  box-sizing: border-box;
}

body {
  // font-family: "Montserrat", sans-serif;
  font-family: "cabin", sans-serif;
  background-color: $background-body-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 10px 0 50px;
}
.container {
  background: $background-color;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  h1 {
    font-weight: bold;
    margin: 0;
  }

  p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
  }

  span {
    font-size: 12px;
  }

  a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 50px 0;
  }
  button {
    border-radius: 20px;
    border: 1px solid $button-border-color;
    background: $button-color;
    color: white;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
    &:active {
      transform: scale(0.95);
    }
    &:focus {
      outline: none;
    }
    &.ghost {
      background: transparent;
      border-color: white;
    }
  }

  .form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
    form {
      background: $background-color;
      display: flex;
      flex-direction: column;
      padding: 0 50px;
      height: 100%;
      justify-content: center;
      align-items: center;
      text-align: center;
    }
    input {
      background: #eee;
      border: none;
      padding: 12px 15px;
      margin: 8px 0;
      width: 100%;
      border-radius: 5px;
      &:focus {
        outline: none;
      }
    }
  }
  .social-container {
    margin: 21px 0;
    a {
      border: 1px solid #ddd;
      border-radius: 50%;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin: 0 5px;
      height: 40px;
      width: 40px;
    }
  }

  .sign-in-container {
    left: 0;
    width: 50%;
    z-index: 2;
  }

  .sign-up-container {
    left: 0;
    width: 50%;
    z-index: 1;
    opacity: 0;
  }

  .overlay-container {
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: transform 0.6s ease-in-out;
    z-index: 50;
  }

  .overlay {
    background: $overlay-color;
    background: linear-gradient(to right, $overlay-gradiant1, $overlay-gradiant2) no-repeat 0 0 / cover;
    color: $background-color;
    position: relative;
    left: -100%;
    height: 100%;
    width: 200%;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-panel {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    height: 100%;
    width: 50%;
    text-align: center;
    transform: translateX(0);
    transition: transform 0.6s ease-in-out;
  }

  .overlay-right {
    right: 0;
    transform: translateX(0);
  }

  .overlay-left {
    transform: translateX(-20%);
  }
}
/* Animaciones */

/* Mover el boton al lado derecho */
.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

/*Mover el layaout a la izquierda*/
.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

/* poner el boton encima del contenedor*/
.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
}

/* Mueve el layout a la derechat*/

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}
