body{
    .contenido{
        .ui-fieldset-legend{
          // font-family: "Open Sans", "Helvetica Neue", sans-serif;
          // font-size: 12px;
          width: auto;
          a{
            padding: 0.3em 1em;            
          }
        }
        .ui-dropdown{
          width: 100%;
        }
        .ui-button-success{
          margin-top: 17px;
        }
        .ui-button-text-only{
          padding: 0.45em 1em;
        } 
        
      }
}
