.draggable {
  touch-action: none;
  user-select: none;
}
.container-registro {
  font-size: 12px !important;
  position: absolute;
  top : 5%;
  z-index: 2;
  // left: 50%;
  input {
    height: 25px;
    margin: 0 0.5px 0 0.5px;
  }
  .año {
    width: 60px;
  }
  .div {
    width: 30px;
  }
  .nro {
    width: 65px;
  }
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  width: 1620px;
  @media (max-width: 1366px) {
    width: 1024px !important;
  }

  // display: relative;
  margin: auto;

  .card-header {
    padding: 1em 1em 0 1em;
    * {
      display: inline;
    }
    .card-header-title {
      font-size: 1.17em;
      font-weight: bold;
    }
    .card-header-tittle-buttons {
      float: right;
      cursor: pointer;
    }
  }

  .card-body-header {
    width: 100%;
    * {
      display: inline;
    }
    // & :not(:first-child):not(:last-child) {
    //   margin: 0 1em 0 1em !important;
    // }
    // > :first-child {
    //   margin: 0 1em 0 0;
    // }
    // > :last-child {
    //   margin: 0 0 0 1em;
    // }
  }
  .card-body {
    padding: 0 1.25rem 0 1.25rem;
    p-fieldset {
      padding: 0;
    }
    fieldset {
      background-color: transparent;
    }

    legend {
      background-color: transparent;
      border-bottom: 1px solid #ddd;
      color: #666666;
      font-size: 14px;
      font-weight: bold;
      padding: 3px 5px 3px 7px;
      width: auto;
    }
    .p-grid {
      padding-top: 6.5px;
    }
  }
}

@for $i from 1 through 12 {
  .p-col- {
    &#{$i} {
      // padding : unset;
      padding: 0 0 0 0.20rem;
      input {
        width: 100%;
      }
      label {
        vertical-align: middle;
      }
    }
  }
}
