<navbar (onState)="toggleMenu($event)" ></navbar>
<div [@slideInOut]="state" class="layout-menu-container">
  <div class="layout-menu-logo">
    <a href="#">
      <img _ngcontent-xee-c0="" id="layout-menu-logo" library="babylon-layout" src="assets/images/logos/sintad.png">
    </a>
  </div>
  <div class="layout-menu-wrapper">
    <p-scrollPanel>

      <p-panelMenu [model]="items" [multiple]="false"></p-panelMenu>

    </p-scrollPanel>
  </div>
</div>
<div [@slideInOut2]="state" class="layout-main">
  <content></content>
</div>